body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
}

.container {
    text-align: center;
}

#crop-container {
    position: relative;
}

#image {
    max-width: 70%;
    max-height: 60vh;
}

#crop-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#crop-button:hover {
    background-color: #45a049;
}

.preview-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.cropped-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.cropped-image {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.button-container button {
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #007bb5;
}

.selected-image {
    max-width: 70%;
    max-height: 60vh;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.actions-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions-container button:hover {
    background-color: #45a049;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.slider-container label {
    margin-bottom: 5px;
}

.slider-container input[type="range"] {
    width: 300px;
    -webkit-appearance: none;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider-container input[type="range"]:hover {
    opacity: 1;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.slider-container input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.color-options-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.color-options-container button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.color-options-container button:hover {
    transform: scale(1.1);
}